<div class="row">
    <div class="col-12 py-2">
        <div class="checkbox form-checkbox">
            <label class="maxwidth">
                <input type="checkbox" class="big-checkbox" required="required" name="customer[terms]" id="terms"
                       value="true"
                       data-validator-message="{{ 'you_must_accept_the_terms_and_conditions'|trans({}, 'form_customer') }}">
                <span>
                        {% if campaign.isContest() %}

                            {{ 'i.am.18.years.old.and.accept.the.terms.and.conditions.and.the.promotional.terms'|trans({
                                '{{ start_a_terms }}': '<a class="termslink" data-bs-toggle="modal" data-bs-target="#general_terms_modal">',
                                '{{ end_a }}': '</a>',
                                '{{ start_a_promotion }}': '<a class="termslink" data-bs-toggle="modal" data-bs-target="#promotional_terms_modal">',
                            }, 'form_customer')|raw }}

                        {% else %}

                            {{ 'i.am.18.years.old.and.accept.the.terms.and.conditions'|trans({
                                '{{ start_a_terms }}': '<a class="termslink" data-bs-toggle="modal" data-bs-target="#general_terms_modal">',
                                '{{ end_a }}': '</a>'
                            }, 'form_customer')|raw }}

                            {% if campaign.isV2Terms() %}
                                {{ 'and.the.subscription.terms.and.conditions'|trans({
                                    '{{ start_a_terms }}': '<a class="termslink" data-bs-toggle="modal" data-bs-target="#general_terms_extract">',
                                    '{{ end_a }}': '</a>'
                                }, 'form_customer')|raw }}
                            {% endif %}
                        {% endif %}

                    {% if campaign.getVertical() is empty %}
                        <br>
                        {% if product.hasTrial() %}
                            {{ 'is_only_valid_for_new_members_of'|trans({'%subscription_name%': product.getSubscriptionName(), '%trial_days%': product.getSubscriptionTrialDays(), '%trial_price%': product.getPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_price%': product.getSubscriptionPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_interval_days%': product.getSubscriptionIntervalDays()}, 'form_customer')|raw }}
                        {% else %}
                            {{ 'is.only.valid.for.new.members.of.no.trial'|trans({'%subscription_name%': product.getSubscriptionName(), '%trial_days%': product.getSubscriptionTrialDays(), '%trial_price%': product.getPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_price%': product.getSubscriptionPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_interval_days%': product.getSubscriptionIntervalDays()}, 'form_customer')|raw }}
                        {% endif %}
                    {% endif %}
                    </span>
            </label>
        </div>
        {% if campaign.getVertical() is empty %}
            <div class="checkbox form-checkbox">
                <label class="maxwidth">
                    {{ form_widget(customerForm.accepting_newsletter, { 'attr':
                        {
                            'class': 'big-checkbox',
                        } }) }}
                    <span>{{ 'Tick.this.box.to.receive.offers.promotions.and.other.commercial.messages.you.can.unsubscribe.at.any.time'|trans({}, 'form_customer') }}</span>
                </label>
            </div>
        {% endif %}
    </div>
</div>
