<style type="text/css">

    .customer-form-error {
        display: block;
        width: 100%;
        margin-top: .25rem;
        font-size: .875em;
        color: #dc3545;
    }

    .moving-label {
        position: absolute;
        /*font-size: 1rem;*/
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: gray;
        padding: 0 0.5rem;
        margin: 0 1rem;
        transition: .1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }

    .material-input {
        font-size: 1rem;
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem 0.7rem;
        color: gray;
        transition: 0.1s ease-out;
    }

    .material-input:focus {
        border: 1px solid #6200EE;
    }

    .material-input:focus + label {
        color: #6200EE;
        top: 0;
        transform: translateY(-50%) scale(.9);
    }

    .material-input:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(.9);
    }

    .invalid-input + label {
        top: 25%;
    }
</style>

<form role="form" method="POST"
                                       action="{{ path('app.front.campaign.new', {'_locale': app.request.getLocale(), 'slug': campaign.slug }) }}"
                                       id="customer_form" class="needs-validation form-horizontal">
    {{ form_start(customerForm) }}
    <div class="row">
        <div class="col-12 position-relative mt-3">
            {% set email_field_attributes = {
                'class': 'form-control required input material-input',
                'placeholder': " ",
                'autocorrect': 'off',
                'required': 'required',
                'pattern': '.{6,}'
            } %}
            {{ form_widget(customerForm.email, { 'attr': email_field_attributes }) }}
            <label for="email" class="moving-label">{{ 'email'|trans({}, 'form_customer') }}</label>

            <div class="invalid-feedback">
                {{ 'Please enter a valid email address.'|trans({}, 'validators') }}
            </div>
            <div class="customer-form-error">
                {{ form_errors(customerForm.email) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 position-relative mt-3">
            {% set password_field_attributes = {
                'class': 'form-control required input material-input',
                'placeholder': " ",
                'autocorrect': 'off',
                'required': 'required',
                'pattern': '.{6,}'
            } %}
            {{ form_widget(customerForm.plainPassword, { 'attr': password_field_attributes }) }}
            <label for="password" class="moving-label">{{ pageText.get('Password') }}</label>

            <div class="invalid-feedback">
                {{ pageText.get('Please enter a valid password, it must be at least 6 characters long.') }}
            </div>
            <div class="customer-form-error">
                {{ form_errors(customerForm.plainPassword) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 py-2">
            <div class="checkbox form-checkbox">
                <label class="maxwidth">
                    <input type="checkbox" class="big-checkbox" required="required" name="customer[terms]" id="terms"
                           value="true"
                           data-validator-message="{{ 'you_must_accept_the_terms_and_conditions'|trans({}, 'form_customer') }}">
                    <span>

                         {{ 'i.am.18.years.old.and.accept.the.terms.and.conditions'|trans({
                             '{{ start_a_terms }}': '<a class="termslink" data-bs-toggle="modal" data-bs-target="#general_terms_modal">',
                             '{{ end_a }}': '</a>'
                         }, 'form_customer')|raw }}

                        {% if campaign.isV2Terms() %}
                            {{ 'and.the.subscription.terms.and.conditions'|trans({
                                '{{ start_a_terms }}': '<a class="termslink" data-bs-toggle="modal" data-bs-target="#general_terms_extract">',
                                '{{ end_a }}': '</a>'
                            }, 'form_customer')|raw }}
                        {% endif %}

                        {% if campaign.getVertical() is empty %}
                            <br>
                            {% if product.hasTrial() %}
                                {{ 'is_only_valid_for_new_members_of'|trans({'%subscription_name%': product.getSubscriptionName(), '%trial_days%': product.getSubscriptionTrialDays(), '%trial_price%': product.getPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_price%': product.getSubscriptionPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_interval_days%': product.getSubscriptionIntervalDays()}, 'form_customer')|raw }}
                            {% else %}
                                {{ 'is.only.valid.for.new.members.of.no.trial'|trans({'%subscription_name%': product.getSubscriptionName(), '%trial_days%': product.getSubscriptionTrialDays(), '%trial_price%': product.getPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_price%': product.getSubscriptionPrice()|priceIntl(product.getCurrency(), lead.getIntlLocale()), '%subscription_interval_days%': product.getSubscriptionIntervalDays()}, 'form_customer')|raw }}
                            {% endif %}
                        {% endif %}
                    </span>
                </label>
            </div>
            {% if campaign.getVertical() is empty %}
                <div class="checkbox form-checkbox">
                    <label class="maxwidth">
                        {{ form_widget(customerForm.accepting_newsletter, { 'attr':
                            {
                                'class': 'big-checkbox',
                            } }) }}
                        <span>{{ 'Tick.this.box.to.receive.offers.promotions.and.other.commercial.messages.you.can.unsubscribe.at.any.time'|trans({}, 'form_customer') }}</span>
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <button type="submit" name="submit" id="customer_submit_btn"
                class="btn btn-success btn-lg btn-block">{{ 'continue'|trans({}, 'form_customer') }} <span
                class="glyphicon glyphicon-chevron-right"></span></button>
    </div>

    {{ form_widget(customerForm._token) }}

    {{ form_end(customerForm, {'render_rest': false}) }}
</form>
